<!--课程表-->
<script src="../js/timetable.js"></script>
<div id="coursesTable"></div>
<script>
    var courseList = [
        ['', '', '', 'NLP@dia201', '', '', '', '', '', '', '', ''],
        ['', 'GPU@BL LT21', 'GPU@BL LT21', '', 'GPU lab', '', '', '', '', '', '', ''],
        ['', '', '', '', 'RMP@HB', 'SML@dia lt7', 'SML@Hicks', 'SML@Hicks', 'Team@PC c29', 'Team@PC c29', '', ''],
        ['', '', '', 'NLP@dia lt2', 'NLP@dia lt2', '', '', '', 'cv group meeting and paper reading@COM-G22 blue', 'cv group meeting and paper reading@COM-G22 blue', '', ''],
        ['', '', '', 'IWeb@Henry Stephenson lt1', 'IWeb@Henry Stephenson lt1', 'IWeb@North Campus', '', '', '', '', '', ''],
    ];
    var week = window.innerWidth > 360 ? ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] :
        ['一', '二', '三', '四', '五'];
    var day = new Date().getDay();
    var courseType = [
        [{index: '', name: '8:00-8:50'}, 1],
        [{index: '', name: '9:00-9:50'}, 1],
        [{index: '', name: '10:00-10:50'}, 1],
        [{index: '', name: '11:00-11:50'}, 1],
        [{index: '', name: '12:00-12:50'}, 1],
        [{index: '', name: '13:00-13:50'}, 1],
        [{index: '', name: '14:00-14:50'}, 1],
        [{index: '', name: '15:00-15:50'}, 1],
        [{index: '', name: '16:00-16:50'}, 1],
        [{index: '', name: '17:00-17:50'}, 1],
        [{index: '', name: '18:00-18:50'}, 1],
        [{index: '', name: '19:00-19:50'}, 1]
    ];
    // 实例化(初始化课表)
    var Timetable = new Timetables({
        el: '#coursesTable',
        timetables: courseList,
        week: week,
        timetableType: courseType,
        highlightWeek: day,
        gridOnClick: function (e) {
            alert(e.name + '  ' + e.week + ', No.' + e.index + 'th class, length' + e.length + 'hours');
            console.log(e);
        },
        styles: {
            Gheight: 50
        }
    });

</script>
